{% extends "base.html" %}

{% block heading %}{% endblock %}

{% block content %}
    <div style="margin-left: auto; margin-right: 0">
        <div class="header">
            <h1>Dscon - Aplicativo de Lançamento de Horas</h1>
            <p class="description">
                Esta é uma aplicação utilitária para facilitar o lançamento de horas em lote para o site oficial de lançamento (pmo), lendo
                suas horas de </br> uma planilha Google Docs, por isso é necessário se autenticar com o seu login do Google.
            </p>
        </div>

        <div class="contentcenter">
            <a href="{% url socialauth_begin 'google-oauth2'%}" ><img src="/media/horasdscon/static/images/docs_logo.png"/></a>
            <p>Clique na imagem acima para se autenticar no Google Docs e ter acesso a sua planilha de lançamento de horas.</p>
        </div>
    </div>
{% endblock %}