<!DOCTYPE html>
<html>
<head>
    <title>Aplicação de Lançamento de Horas da Dscon</title>
    <STYLE type="text/css">
        .center {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </STYLE>
</head>
<body>
    <div id="logo" class="center">
        <img src="/media/horasdscon/static/images/logo_gif.png"/>
    </div>
    <div id="docs" class="center">
        <a href="{{ authorize_url }}" ><img src="/media/horasdscon/static/images/docs_logo.jpg"/></a>
        <p>Clique na imagem acima para se autenticar no Google Docs e ter acesso a sua planilha de lançamento de horas.</p>
    </div>
</body>
</html>