{% extends "base.html" %}

{% block heading %}{% endblock %}

{% block content %}
    <div style="margin-left: auto; margin-right: 0">
        <form action="/criarplanilha/" method="post">
            {% csrf_token %}
            <div class="header">
                <h1>Dscon - Aplicativo de Lançamento de Horas</h1>
                <p class="description">
                    A planilha para lançamento de horas que esta aplicação utiliza, não existe ainda no seu Google Docs,</br>
                    Será criada uma planilha com o nome {{ nome_planilha_horas }}. Posso criar para você ?
                </p>

                <div class="fieldWrapper">
                    <label for="id_nome_planilha">Nome da Planilha:</label>
                    {{ form.nome_planilha }}
                    {{ form.nome_planilha.errors }}
                </div>
                </br>
                <div class="fieldWrapper">
                    <label for="id_usuario_pmo">* Usuário PMO:</label>
                    {{ form.usuario_pmo }}
                    {{ form.usuario_pmo.errors }}
                </div>
                </br>
                <div class="fieldWrapper">
                    <label for="id_senha_pmo">* Senha PMO:</label>
                    {{ form.senha_pmo }}
                    {{ form.senha_pmo.errors }}
                </div>
                </br>
            </div>

            <div><strong>{{form.non_field_errors}}</strong></div>

            <div class="contentcenter">
                <input type="submit" value="Criar Planilha" />
            </div>
        </form>
    </div>
{% endblock %}