{% extends "base.html" %}

{% block head %}

    <style>
        .ui-button { margin-left: -1px; }
        .ui-button-icon-only .ui-button-text { padding: 0.35em; }
        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
    </style>
    <script>
        $(document).ready(function() {

            var empresasDataSource = new kendo.data.DataSource({
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: "http://localhost:8000/ajax/empresas"
                }
            });

            var projetosDataSource = new kendo.data.DataSource({
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: "http://localhost:8000/ajax/projetos"
                }
            });

            $("#combo_empresas").kendoComboBox({
                placeholder: "Selecione uma empresa...",
                dataTextField: "NomeEmpresa",
                dataValueField: "IdEmpresa",
                dataSource: empresasDataSource,
                filter: "contains",
                suggest: true,
                change: function() {
                    var value = this.value();

                    if (value) {
                        projetosDataSource.filter({
                            field: "NomeEmpresa",
                            operator: "eq",
                            value: value
                        });
                        combo_projetos.enable();
                    } else {
                        combo_projetos.enable(false);
                    }
                    combo_projetos.value("");
                }
            });

            var combo_projetos = $("#combo_projetos").kendoComboBox({
                placeholder: "Selecione um projeto...",
                autoBind: false,
                dataTextField: "NomeProjeto",
                dataValueField: "IdProjeto",
                dataSource: projetosDataSource,
                filter: "contains"
            }).data("kendoComboBox");

        });
    </script>

{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    <div style="margin-left: auto; margin-right: 0">
        <form action="/criarplanilha/" method="post">
            {% csrf_token %}
            <div class="header">
                <h1></h1>
                <p class="description">
                    Escolha aqui os projetos nos quais você trabalha atualmente, pois facilitará o lançamento de horas para você.
                </p>
                    <div id="empresas">
                        <label>Escolha a empresa: </label>
                        <input id="combo_empresas"/>
                    </div>

                    <div id="projetos">
                        <label>Escolha um projeto: </label>
                        <input id="combo_projetos" disabled="disabled"/>
                    </div>
                </br>
            </div>
        </form>
    </div>
{% endblock %}