{% extends "base.html" %}

{% block head %}

    <style>
        .ui-button { margin-left: -1px; }
        .ui-button-icon-only .ui-button-text { padding: 0.35em; }
        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
    </style>
    <script>
        $(function() {
            $( "#combo_empresas" ).combobox();
            $( "#combo_projetos" ).combobox();
        });
    </script>

{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    <div style="margin-left: auto; margin-right: 0">
        <form action="/criarplanilha/" method="post">
            {% csrf_token %}
            <div class="header">
                <h1>Dscon - Aplicativo de Lançamento de Horas</h1>
                <p class="description">
                    Escolha aqui os projetos nos quais você trabalha atualmente, pois facilitará o lançamento de horas para você.
                </p>

                <div id="empresas" class="ui-widget combo">
                    <label>Escolha a empresa: </label>
                    <select id="combo_empresas">
                        {% for empresa in empresas %}
                            <option value="{{ empresa }}">{{ empresa }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="projetos" class="ui-widget">
                    <label>Escolha um projeto: </label>
                    <select id="combo_projetos">
                        {% for projeto in projetos %}
                            <option value="{{ projeto.projectid }}">{{ projeto.projectid}} - {{ projeto.projectname }}</option>
                        {% endfor %}
                    </select>
                </div>

                </br>
            </div>

            <select name="combo1" id="combo1" onchange="Dajaxice.horasdsconapp.updatecombo(atualizarcombo,{'option':this.value})" size="1">
                <option value="0">Select...</option>
                <option value="0">Spain</option>
                <option value="1">France</option>
                <option value="2">United Kingdom</option>
            </select>
            <select name="combo2" id="combo2" onchange="" size="1"></select>


        </form>



    </div>
{% endblock %}